MONGO_URI_RINZ_MUSIC=mongodb://18.140.62.59:27017/rzmusic
MONGO_URI_RINZ_PAYMENT=mongodb://203.205.21.196:27017/thecuatui
SENTRY_DSN=https://4a2766071c8a44a6b19ffd238e7c6fa2@sentry.rinznetwork.com/39
REDIS_URL=redis://redis_test:6379/10
REDIS_USERS_STARTUP_NODES=[{ "host":"203.205.21.196", "port":6001 }, { "host":"203.205.21.196", "port":6002 }, { "host":"203.205.21.196", "port":6003 }]
SECRET_KEY=A|2\x84N\x98\xd05\xdd\x1a\x1aH\x84\x82sj
RZ_SOCKET_API=https://socket-staging.rinznetwork.com
RZ_ID_API=https://api-staging.thecuatui.net
RZ_ID_KEY=8b65e82396d4c53296f36a1531ededca
RZ_PAYMENT_API=https://paygw-staging.rinznetwork.com/v1/payment
RZ_PAYMENT_KEY=8b65e82396d4c53296f36a1531ededca
RZ_STREAM_API=https://api-staging.rinznetwork.com/v1/livestream
RZ_STREAM_KEY=8b65e82396d4c53296f36a1531ededca
RZ_SHARE_WEBSITE=http://staging.rinzworld.com